<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted"></h4>
                        </div>
                        <div class="mb-3">
                            <label for="InputEmail1" class="form-label">Email</label>
                            <input type="email" id="InputEmail1" class="form-control" name="email" placeholder="Email"
                                [(ngModel)]="email">
                        </div>
                        <div class="row">
                            <div class="col-md-8 mt-2 ">
                                <a href="/login" class="link-danger fw-bold">Back to login</a>
                            </div>
                            <div class=" d-flex col-md-4 justify-content-end">
                                <button type="button" class="btn px-4 btn-md" (click)="restorePassword()">Restore password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>