.input-group input, .input-group select {
    background-color: #e6e6e6;
    font-weight: 500;
}
.input-group input::placeholder{
    color: #000;
    font-weight: 500;
}
table{
    background-color: #e6e6e6;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
th,
td {
    padding: 15px;
}
td input {
    padding: 7px;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
}
thead th {
    background-color: #477cb2;
    color: #fff;
}
button.admin {
    background-color: #477cb2;
    color: #eee;
    font-weight: 600;
}
button.admin:hover {
    color: #477cb2;
    background-color: #fff;
}
h4{
    color: #477cb2;
    margin-bottom: 5%;
}
h5{
    background-color: #e6e6e6;
    color: #477cb2;
    width: fit-content;
    padding: 5px 12px;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    margin: 0;
    margin-left: 10%;
}
footer {
    margin-top: 30px;
    padding-top: 1%;
    text-align: center;
    color: #477cb2;
}