<app-navbar></app-navbar>

<div class="container" *ngIf="student">
    <div class="row d-flex justify-content-between">
        <div class="col-4">
            <h4 class="text-center">{{student.name}} {{student.faculty}} {{student.group}}</h4>
                <h5>Term 1</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text-center" style="border-top-left-radius: 0.5em;">Subject</th>
                            <th class="text-center">Mark</th>
                            <th class="text-center" style="border-top-right-radius: 0.5em;">Coefficient</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" >
                                {{student.term1.subj1}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.mark1}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.coef1}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term1.subj2}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.mark2}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.coef2}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term1.subj3}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.mark3}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.coef3}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term1.subj4}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.mark4}}
                            </td>
                            <td class="text-center" >
                                {{student.term1.coef4}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" class="text-center" >
                                {{student.term1.subj5}}
                            </td>
                            <td class="text-center" class="text-center" >
                                {{student.term1.mark5}}
                            </td>
                            <td class="text-center" class="text-center" >
                                {{student.term1.coef5}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center"  style="border-bottom: none">
                                Extra marks: {{student.term1.extra}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <h4 class="text-center">Projected mark: {{student.projectedMark.toFixed(3)}}</h4>
                <h5>Term 2</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text-center" style="border-top-left-radius: 0.5em;">Subject</th>
                            <th class="text-center">Mark</th>
                            <th class="text-center" style="border-top-right-radius: 0.5em;">Coefficient</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"  class="text-center" >
                                {{student.term2.subj1}}
                            </td>
                            <td class="text-center"  class="text-center" >
                                {{student.term2.mark1}}
                            </td>
                            <td class="text-center"  class="text-center" >
                                {{student.term2.coef1}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term2.subj2}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.mark2}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.coef2}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term2.subj3}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.mark3}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.coef3}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term2.subj4}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.mark4}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.coef4}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" >
                                {{student.term2.subj5}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.mark5}}
                            </td>
                            <td class="text-center" >
                                {{student.term2.coef5}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center"  style="border-bottom: none">
                                Extra marks: {{student.term2.extra}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="showButton">
            <button class="btn admin px-4 btn-lg" type="submit" (click)="dropStudent(student.id)">Drop student</button>
        </div>
</div>
<footer class="footer border border-top-1">
    <h3>NURE design 2022</h3>
    <p>© All rights reserved</p>
</footer>