<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>
                        <div class="mb-3">
                            <label for="InputEmail1" class="form-label">Email</label>
                            <input type="email" id="InputEmail1" class="form-control" name="email" placeholder="Email"
                                [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword1" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="InputPassword1"
                                placeholder="Password" [(ngModel)]="password">
                        </div>
                        <div class="row text-center text-lg-start mt-4 pt-2">
                            <div class="col-md-6 mt-0">
                                <p class="fw-bold mt-1 pt-1 mb-0">Already a user? <a href="/login"
                                        class="link-danger">Login</a></p>
                            </div>
                            <div class="d-flex col-md-6 justify-content-end">
                                <button type="button" class="btn px-4 btn-md" (click)="register()">Sign up</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
